<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8"/>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/> -->
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<title>User</title>
</head>
<body>
    <div class="center-block" style="width:1300px" th:if="${not #lists.isEmpty(users)}">
        <div class="row"  style="height:50px; background-color: #000fff; color: #ffffff">
          <div class="col-md-3" align="center">id</div>
          <div class="col-md-1" align="center">UserName</div>
          <div class="col-md-2" align="center">UserDesc</div>
          <div class="col-md-1" align="center">TelePhone</div>
          <div class="col-md-2" align="center">CreateTime</div>
          <div class="col-md-2" align="center">操作</div>
        </div>
        <div th:if="${not #lists.isEmpty(users)}">
            <div class="row" th:each="user:${users}" style="height:40px;background-color: #BFEFFF; margin-top: 1px; color: #0F0F0F">
              <div class="col-md-3" align="center"><span th:text="${user.id}"></span></div>
              <div class="col-md-1" align="center"><span th:text="${user.username}"></span></div>
              <div class="col-md-2" align="center"><span th:text="${user.userdesc}"></span></div>
              <div class="col-md-1" align="center"><span th:text="${user.telephone}"></span></div>
              <div class="col-md-2" align="center"><span th:text="${#dates.format(user.createtime,'yyyy-MM-dd HH:mm:ss')}"></span></div>
              <div class="col-md-2" align="center"><a th:href="@{/del(id=${user.id})}">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/findUserInfoById(id=${user.id})}">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/add}">增加</a></div>
            </div>
        </div>
    </div>
    
</body>
</html>